* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;

    display: flex;
    flex-direction: column;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.header-content{
    background-color: #fff;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 400;
    padding-right: 20px;
}
.link{
    text-decoration: none;
    padding: 10px;
    color: black;
    font-size: 14px;
}
.btn{
    padding: 10px 16px;
    border-radius: 5px;
    margin-left: 10px;
    background-color: cornflowerblue;
    color: #fff;
}

.main-content{
    background-color: rgb(247, 247, 249);
    flex-grow: 1;

}

.footer-content{
    background-color: rgb(197, 252, 86);
   height: 94px;

}



