h1{
margin-left: 200px;
margin-right: 200px;
padding: 25px;
text-align: center;
font-size: 50px;
p.groove {border-style: groove;}

}
h1:hover{
    font-size: 60px;
}
img{
border-radius: 80px;
padding: 2px;
background-color: rgb(249, 255, 253);
height: 300px;
opacity: 0.5;
margin-left: 65vh;
width: auto;
}
img:hover{
    width: auto;
    height: 310px;
    opacity: 1;
}

ul{
    position: fixed;
    list-style: none;
  
}
   ul:hover{
    color: crimson;
    box-shadow: 25px;

}

li:hover{
    background-color: rgb(175,189 , 157);
    font-size: 25px;
}
h2{
color: rgb(255, 163, 163);
cursor: pointer;
font-size: 20px;
}


nav ul li:hover{
    background-color: rgb(238, 229, 67);
    border-radius: 15px;
    font-weight: 500;
    cursor: pointer;
    box-shadow:7px 7px 20px #ec0606;
}
body{
    height: calc(100vh - 183px);
    background-image: url('../source/img/praia.jfif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
 .middle-content{
    height: 10vh;
 }
 div.background {
    background: url(klematis.jpg) repeat;
    border: 2px solid black;
  }
  
  div.transbox {
    margin: 30px;
    background-color: #363732;
    border: 1px solid rgb(224, 10, 10);
    opacity: 0.6;
  }
  
  div.transbox p {
    margin: 5%;
    font-weight: bold;
    color: #f8f1f1;
    font-style: italic;
    font-size: 50px;
  }