h1{
margin-left: 200px;
margin-right: 200px;
background-image: url("../source/img/OIP\ \(1\).jfif");
padding: 25px;

}
img{
border-radius: 120px;
padding: 30px;
border-left: 100px;
background-color: aquamarine;
width:50vw;
height: 500px;


}
h2{
background-color: aqua;


}